<!DOCTYPE html>
<html lang="zh-CN">

  <%- partial('_partial/header') %>

  <body>
    <div id="app">
      <%- partial('_partial/navigation') %>

      <%- body %>

      <%- partial('_partial/footer') %>
    </div>
  </body>
</html>
