* {
  margin: 0;
  padding: 0;
}

#app {
  width: 770px;
  z-index: 10;
  position: relative;
  margin: 0 auto;
}

.header {
  padding: 50px 0;
}

.container {
  min-height: calc(100vh - 407px);
  padding: 20px 0;
}

.time-y, .time-m-d {
  color: #666;
}

.time-m-d {
  margin: 0 30px;
}

.post-item {
  margin-bottom: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

a {
  text-decoration: none;
  background-color: transparent;
  color: #666;
}

a:hover {
  color: black;
}

.avatar {
  text-align: center;
  padding-bottom: 50px;
}

.avatar img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.content {
  clear: both;
  padding: 0 20px;
}

.content-title {
  margin-bottom: 30px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar ul li {
  display: inline;
  margin-left: 30px;
}

.navbar ul li a {
  font-weight: 600;
}

.post-navigation {
  padding: 20px 0;
  text-align: right;
  color: #666;
}

.post-navigation a {
  color: #000;
  font-size: 20px;
  font-weight: 600;
}

.post-navigation .page-num {
  padding: 0 10px;
}

.footer {
  padding: 20px 0;
}

.social {
  padding-bottom: 10px;
}

.social ul {
  text-align: center;
}

.social ul li {
  display: inline-block;
  padding: 0 5px;
}

.copyright {
  text-align: center;
}
