* {
  margin: 0;
  padding: 0;
}

#app {
  height: 100%;
  width: 770px;
  z-index: 10;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.container {
  height: 100%;
  padding-top: 200px;
}

.time-y, .time-m-d {
  color: #666;
  font-weight: 600;
  font-family: 'Raleway', 'Helvetica Neue', 'Arial', sans-serif;
}

.time-m-d {
  margin: 0 30px;
}

.post-item {
  margin-bottom: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.post-item a {
  font-weight: 600;
}

a {
  text-decoration: none;
  background-color: transparent;
  color: #666;
}

a:hover {
  color: black;
}
.header {
  overflow: hidden;
  height: 70px;
  margin-bottom: 80px;
}
.portrait {
  float: left;
}
.portrait img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.content {
  clear: both;
  padding: 0 20px;
}

.content-title {
  margin-bottom: 30px;
}

.navbar {
  float: right;
  height: 70px;
  display: flex;
  align-items: center;
}

.navbar ul li {
  display: inline;
  margin-left: 30px;
}

.navbar ul li a {
  font-weight: 600;
}

.post-list {
  padding: 0 30px;
}

.post-navigation {
  padding: 20px 0;
  text-align: right;
  color: #666;
}

.post-navigation a {
  color: #000;
  font-size: 20px;
  font-weight: 600;
}

.post-navigation .page-num {
  padding: 0 10px;
}