/* light scheme */
:root[color-mode="light"] {
    --color-text-base: #666;
    --color-text-md-title: #24292e;
    --color-text-md-content: #24292e;
    --color-text-md-code: #e96900;
}

/* dark scheme */
:root[color-mode="dark"] {
    --color-text-base: #FFFFFF;
    --color-text-md-title: #FFFFFF;
    --color-text-md-content: #FFFFFF;
    --color-text-md-code: #e96900;
}
