$theme-color = convert(hexo-config('themeColor'))

.v[data-class="v"] .vwrap .vheader .vinput:focus {
  border-bottom-color: $theme-color!important;
}

.v[data-class="v"] .vbtn:active, .v[data-class="v"] .vbtn:hover {
  border-color: $theme-color!important;
}

.v[data-class="v"] .vcards .vcard .vh .vmeta .vat {
  color: $theme-color!important;
}

.v[data-class="v"] a {
  color: $theme-color!important;
}
