<div class="back-to-top tools-bar-item hidden">
  <a href="javascript: void(0)">
    <p style="text-align: center;">Back to Top</p>
    <p style="text-align: center;"><i class="iconfont icon-chevronup"></i></p>
  </a>
</div>

<%- js(['/js/backtotop.js']) %>
