<% if (theme.catalog.enable && toc(page.content)) { %>
<div class="post-catalog" id="catalog">
  <div class="title">目录</div>
  <%- toc(page.content, { "list_number": false }) %>
</div>

<script>
  var catalog = null;
  var catalogTopHeight = null;
  function handleScoll() {
    catalog = document.getElementById("catalog");
    catalogTopHeight = catalog.offsetTop;
    changePos()
  }

  // window.onscroll = function() {
  //   console.log("123")
  //   changePos();
  // }

  function changePos() {
    var scrollTop = document.documentElement.scrollTop || document.body.scrollTop
    if (scrollTop > catalogTopHeight - 20) {
      catalog.style = "position: fixed; top: 20px;"
    } else {
      catalog.style = "position: absolute; top: calc(290px + 88px + 30px)"
    }
  }

  window.onload = function() {
    handleScoll();
    window.onscroll = function() {
      changePos();
    }
  }


</script>

<% } %>
