<% if (theme.catalog.enable && toc(page.content)) { %>
  <div id="btn-catalog" class="btn-catalog">
    <i class="iconfont icon-catalog"></i>
  </div>
  <div class="post-catalog hidden" id="catalog">
    <div class="title"><%= __('catalog') %></div>
    <div class="catalog-content">
      <%- toc(page.content, { "list_number": false }) %>
    </div>
  </div>

  <%- js(['/js/catalog.js']) %>

<% } %>
