<% if (theme.colorSwitch.enable) { %>
  <div class="tools-bar-item theme-icon" id="switch-color-scheme">
    <a href="javascript: void(0)">
      <i id="theme-icon" class="iconfont icon-moon"></i>
    </a>
  </div>

  <%- js(['/js/colorscheme.js']) %>

<% } %>
