<div class="header">
  <div class="avatar">
    <img src="/images/34339465.jpg" alt="">
  </div>
  <div class="navbar">
    <ul>
      <li><a href="/">主页</a></li>
      <li><a href="/archives">归档</a></li>
      <li><a href="/tags/">标签</a></li>
      <li><a href="/friends/">朋友</a></li>
      <li><a href="/about/">关于我</a></li>
    </ul>
  </div>
</div>
