<div class="header">
  <div class="avatar">
    <a href="/"><img src="<%- theme.avatar.author_photo %>" alt=""></a>
    <a href="/"><div class="nickname"><%- theme.avatar.author_nickname %></div></a>
  </div>
  <div class="navbar">
    <ul>
      <% for(let item of theme.navbar){ %>
        <li>
          <a href="<%- item.path %>"><%- item.name %></a>
        </li>
      <% } %>
    </ul>
  </div>
</div>
