
// 常用 margin样式
for value in (1..30)
  .mt-{value} {
    margin-top: (value * 1px);
  }
  .mr-{value} {
    margin-right: (value * 1px);
  }
  .mb-{value} {
    margin-bottom: (value * 1px);
  }
  .ml-{value} {
    margin-left:(value * 1px);
  }
